# Google Sheets Configuration
SPREADSHEET_ID=1J9dLmzM-jOyCiyleohfevMDg30V2TEeXBJ0cdiodep0
GOOGLE_SERVICE_ACCOUNT_EMAIL=mis-software@tps-pos-software-database.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="AQ.Ab8RN6I9R45zz3jPpcvLG2lX_c-2jj2Jb68QdwfQT_2GIdvvKA"

# Server
PORT=3000
